h3 {
  margin-top: 12px;
  margin-bottom: 0;
}

.home-section {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.profile-card {
  background-color: var(--color-accent-blue) !important;
  padding: 16px;
  border-radius: 16px !important;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08) !important;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  text-align: left;
}

.bio {
  margin-bottom: 16px;
}

/* Card styling */
.location-card {
  background-color: var(--color-accent-blue) !important;
  padding: 16px;
  border-radius: 16px !important;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08) !important;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  text-align: left;
}

.location-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12) !important;
}

/* Make image feel integrated with card */
.location-image {
  width: 250px;
  height: 250px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 12px;
}

.link {
  text-decoration: none;
}

/* .title {
  background-color: var(--color-accent-blue);
  padding: 12px;
  border-radius: 12px;
  display: inline-block;
} */

#first {
  text-align: left;
}

#second {
  text-align: center;
}

#third {
  text-align: right;
}
