h3 {
  margin-bottom: 16px;
}

.centered-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.resume-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.resume-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.resume a {
  width: 100%;
}

.skills-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.skills {
  /* display: inline-flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
}

.resume-link {
  text-align: center;
  margin-top: 10px;
}

.list-item {
  margin-bottom: 10px;
}